The following dataset comes from Europe Brent Crude Oil Spot Price during 1987 to 2015. And it contains two columns, oil price and date.

In [20]:
import pandas as pd
import numpy as np
oil = pd.read_csv("rbrted_cleaned.csv")
print(oil.head())
print(oil.tail())

         date  price
0  1987-05-20  18.63
1  1987-05-21  18.45
2  1987-05-22  18.55
3  1987-05-25  18.60
4  1987-05-26  18.63
            date  price
7155  2015-08-04  49.08
7156  2015-08-05  49.04
7157  2015-08-06  47.80
7158  2015-08-07  47.54
7159  2015-08-10  48.30

Here, get the min and max value of the data set.

In [7]:
print(oil[oil.price==oil.price.min()])
print(oil[oil.price==oil.price.max()])

            date  price
2937  1998-12-10    9.1
            date   price
5373  2008-07-03  143.95

A good way to find poential outliers would be to get the values that deviate the most from the mean and make comparison to the std. Here, the 2.5 of std is used.

Oil price in summer of 2008 was in its historical high in the period of 2003 to 2008. Reference matieral confirms that the extreme values are accruate. 
Ref:https://en.wikipedia.org/wiki/2000s_energy_crisis

In [15]:
dev_price=np.abs(oil.price - oil.price.mean())

print(oil[ dev_price > 2.5 * oil.price.std()])

            date   price
5354  2008-06-06  132.81
5355  2008-06-09  134.43
5356  2008-06-10  135.24
5357  2008-06-11  134.52
5358  2008-06-12  132.11
5359  2008-06-13  134.29
5360  2008-06-16  133.90
5361  2008-06-17  131.27
5363  2008-06-19  131.84
5364  2008-06-20  134.28
5365  2008-06-23  134.54
5366  2008-06-24  135.37
5367  2008-06-25  131.59
5368  2008-06-26  136.82
5369  2008-06-27  139.38
5370  2008-06-30  138.40
5371  2008-07-01  140.67
5372  2008-07-02  141.24
5373  2008-07-03  143.95
5374  2008-07-07  139.62
5375  2008-07-08  134.15
5376  2008-07-09  133.91
5377  2008-07-10  135.81
5378  2008-07-11  143.68
5379  2008-07-14  142.43
5380  2008-07-15  136.02
5381  2008-07-16  133.31
5382  2008-07-17  134.16

In [13]:
print(oil[ dev_price > 2.5 * oil.price.std()])

            date   price
5354  2008-06-06  132.81
5355  2008-06-09  134.43
5356  2008-06-10  135.24
5357  2008-06-11  134.52
5358  2008-06-12  132.11
5359  2008-06-13  134.29
5360  2008-06-16  133.90
5361  2008-06-17  131.27
5363  2008-06-19  131.84
5364  2008-06-20  134.28
5365  2008-06-23  134.54
5366  2008-06-24  135.37
5367  2008-06-25  131.59
5368  2008-06-26  136.82
5369  2008-06-27  139.38
5370  2008-06-30  138.40
5371  2008-07-01  140.67
5372  2008-07-02  141.24
5373  2008-07-03  143.95
5374  2008-07-07  139.62
5375  2008-07-08  134.15
5376  2008-07-09  133.91
5377  2008-07-10  135.81
5378  2008-07-11  143.68
5379  2008-07-14  142.43
5380  2008-07-15  136.02
5381  2008-07-16  133.31
5382  2008-07-17  134.16

Another way to explore the dataset is slicing the date per decade to view its changes

In [21]:
oil.index = oil.date
del oil["date"]

print(oil.head())

            price
date
1987-05-20  18.63
1987-05-21  18.45
1987-05-22  18.55
1987-05-25  18.60
1987-05-26  18.63

In [27]:
decade = oil["1980":"1989"]
print(decade[np.abs(decade.price - decade.price.mean()) > 2 * decade.price.std()])

            price
date
1987-08-03  20.95
1988-10-03  11.60
1988-10-04  11.65
1988-10-05  11.20
1988-10-06  11.30
1988-10-07  11.35

In [26]:
decade = oil["1990":"1999"]
print(decade[np.abs(decade.price - decade.price.mean()) > 5 * decade.price.std()])

            price
date
1990-09-24  40.75
1990-09-25  39.90
1990-09-26  40.85
1990-09-27  41.45
1990-09-28  41.00
1990-10-09  40.90
1990-10-10  40.20
1990-10-11  41.15
1990-10-12  39.90