In [4]:
import pandas as pd
impo
# Merging
# =======

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df1)

df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})
print(df2)
print(df1.append(df2))
print(df1.append(df2, ignore_index=True))
print(pd.concat([df1, df2]))
print(pd.concat([df1, df2], axis=1))
print(pd.concat([df1, df2], keys=['UK', 'DE']))

df3 = pd.concat([df1, df2], keys=['UK', 'DE'])


df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': range(4)})
print(df1)

df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': range(10, 14)})
print(df2)

print(df1.merge(df2, on='key'))
print(df1.merge(df2, on='key', how='left'))
print(df1.merge(df2, on='key', how='right'))
print(df1.merge(df2, on='key', how='outer'))

   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  4  7
1  5  8
2  6  9
   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9
   A  B
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8
5  6  9
   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9
   A  B  A  B
0  1  4  4  7
1  2  5  5  8
2  3  6  6  9
      A  B
UK 0  1  4
   1  2  5
   2  3  6
DE 0  4  7
   1  5  8
   2  6  9
  key  value
0   A      0
1   B      1
2   C      2
3   D      3
  key  value
0   B     10
1   D     11
2   D     12
3   E     13
  key  value_x  value_y
0   B        1       10
1   D        3       11
2   D        3       12
  key  value_x  value_y
0   A        0      NaN
1   B        1     10.0
2   C        2      NaN
3   D        3     11.0
4   D        3     12.0
  key  value_x  value_y
0   B      1.0       10
1   D      3.0       11
2   D      3.0       12
3   E      NaN       13
  key  value_x  value_y
0   A      0.0      NaN
1   B      1.0     10.0
2   C      2.0      NaN
3   D      3.0     11.0
4   D      3.0     12.0
5   E      NaN     13.0

In [6]:
print(df1.append(df2))

  key  value
0   A      0
1   B      1
2   C      2
3   D      3
0   B     10
1   D     11
2   D     12
3   E     13

In [7]:
print(df1.append(df2, ignore_index=True))

  key  value
0   A      0
1   B      1
2   C      2
3   D      3
4   B     10
5   D     11
6   D     12
7   E     13

In [8]:
print(pd.concat([df1, df2]))

  key  value
0   A      0
1   B      1
2   C      2
3   D      3
0   B     10
1   D     11
2   D     12
3   E     13

In [9]:
#default concat operation appends DataFrame along the index, which corresponse to axis0
#to concatenate along the column, change the axis
print(pd.concat([df1, df2], axis=1))

  key  value key  value
0   A      0   B     10
1   B      1   D     11
2   C      2   D     12
3   D      3   E     13

In [10]:
#add keys to create a hierarchical index
print(pd.concat([df1, df2], keys=['UK', 'DE']))

df3 = pd.concat([df1, df2], keys=['UK', 'DE'])

     key  value
UK 0   A      0
   1   B      1
   2   C      2
   3   D      3
DE 0   B     10
   1   D     11
   2   D     12
   3   E     13

In [15]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': range(4)})
print(df1)

df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': range(10, 14)})
print(df2)

  key  value
0   A      0
1   B      1
2   C      2
3   D      3
  key  value
0   B     10
1   D     11
2   D     12
3   E     13

In [16]:
#on="Key" creates an innder join using merge.()
print(df1.merge(df2, on='key'))

  key  value_x  value_y
0   B        1       10
1   D        3       11
2   D        3       12

In [17]:
print(df1.merge(df2, on='key', how='left'))
print(df1.merge(df2, on='key', how='right'))
print(df1.merge(df2, on='key', how='outer'))

  key  value_x  value_y
0   A        0      NaN
1   B        1     10.0
2   C        2      NaN
3   D        3     11.0
4   D        3     12.0
  key  value_x  value_y
0   B      1.0       10
1   D      3.0       11
2   D      3.0       12
3   E      NaN       13
  key  value_x  value_y
0   A      0.0      NaN
1   B      1.0     10.0
2   C      2.0      NaN
3   D      3.0     11.0
4   D      3.0     12.0
5   E      NaN     13.0